<%- include('../partials/head.ejs') %>

<body class="h-full">
    <main class="grid min-h-full place-items-center bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
          <p class="text-4xl font-semibold text-amber-700">404</p>
          <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">Page not found</h1>
          <p class="mt-6 text-base leading-7 text-gray-400">Lost your way? It's our job to find it.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/login" class="rounded-md bg-amber-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm border border-transparent hover:border-white">Go back home <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </main>
</body>