node_modules/
npm-debug.log
npm-error.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock
.pnp/
.pnp.js
.env
.env.local
.env.*.local
.vscode/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/build
/dist
.vite/
.vitepress/dist
.npm/
*.tgz