body {
    margin: 0;
    padding: 0;
    /* hide scrollbar on all browsers */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* root */
:root {
    --border-color-bars: #F0F0F0;
    --bg-color-main: #18181b;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(160deg) brightness(100%) contrast(80%);
}

div {
    color: #F0F0F0;
}

.bg-body-tertiary {
    background-color: var(--bg-color-main) !important;
}

.main-container {
    display: grid;
    /* gap: 5px; */
    width: 100vw;
    height: 100vh;
    grid-template-rows: minmax(70px, 80px) 1fr minmax(120px, 200px);
    grid-template-columns: minmax(80px, 120px) auto minmax(80px, 160px);
}

.top-bar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    position: relative;
    border-bottom: 2px solid var(--border-color-bars);
    z-index: 2;
}

.navbar { /*bootstrap change */
    width: 100%;
    height: 100%;
}

#reset-layout-btn {
    cursor: pointer;
}

.left-bar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    position: relative;
    background-color: var(--bg-color-main);
    border-right: 2px solid var(--border-color-bars);
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse-btn {
    width: 13px;
    height: 28px;
    background-color: white;
    border-radius: 500px;
    border: 1px solid rgb(179, 103, 255);
    box-shadow: 0 0 8px 0 rgb(179, 103, 255);
    z-index: 401;
    transition: transform 120ms ease-in-out;
    cursor: pointer;
}

/* hover increase scale 20% ease in out 300ms*/
.collapse-btn:hover {
    transform: scale(1.15);
}

/* not hover */
.collapse-btn:not(:hover) {
    transform: scale(1);
    transition-duration: 120ms;
    transition-timing-function: ease-in-out;
}

.main-content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    position: relative;
    background-color: var(--bg-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    table-layout:fixed;
}
th {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

.table-head{
    text-align: center;
    vertical-align: middle;
    height: fit-content;
    border-width: 1px;
}
.table-head tr{
    border-width: 1px;
    height: fit-content;
}
.table-head tr th{
    border-width: 1px;
    height: fit-content;
}
.intinerary thead,tbody tr{
    border-width: 1px;
    text-align: center;
    height: fit-content;
}

.intinerary thead,tbody tr th{
    border-width: 1px;
}
#left-bar-collapse-btn {
    position: absolute;
    left: 0px;
    margin: 0 0 0 2px;
}

.addAddress{
    display: flex;
    justify-content: center;
}
.addAddressBtn{
    height: 30px;
    background: transparent;
    color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.right-bar {
    grid-column: 2 / 2;
    grid-row: 2 / 3;

    position: relative;
    background-color: var(--bg-color-main);
    border-left: 2px solid var(--border-color-bars);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    align-items: flex-start;
    /* y axis scroll */
    overflow-y: auto;
}

.d-flex button{
    margin: 5px;
    border: 0px;
    background-color: rgb(43,48,53);
}
.d-flex button:hover{
    margin: 5px;
    border: 0px;
    background-color: rgb(82,82,94);
}

#right-bar-collapse-btn {
    position: absolute;
    right: 0px;
    margin: 0 2px 0 0;
}

.bottom-bar {
    grid-column: 1 / 4;
    grid-row: 3 / 4;

    position: relative;
    background-color: var(--bg-color-main);
    border-top: 2px solid var(--border-color-bars);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#bottom-bar-collapse-btn {
    position: absolute;
    bottom: -6px;
    rotate: -90deg;
    margin: 0 0 0 0;
}

/* remove bars that are assigned this class */
.bar-collapsed {
    display: none;
}

/* opacity reduction on the bars that their related collapse button is hovered over */
.collapse-opacity {
    opacity: 0.85;
    transition: opacity 120ms ease-in-out;
}

/* When bottom is closed but left is still open */
.left-expanded-bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

/* When bottom is closed but right is still open */
.right-expanded-bottom {
    grid-row: 2 / 4;
}

.main-expanded-left {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

/* Only expand to the bottom when left and right bars are still open*/
.main-expanded-bottom {
    grid-row: 2 / 4;
}

/* Expand throughout the entire screen except over the top bar when all the bars are closed */
.main-expanded-full {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
}

.main-expanded-left-right {
    grid-column: 1 / -1; /* Full width when both left and right are closed */
}

.main-expanded-right {
    grid-column: 2 / 4;
}

.main-expanded-bottom {
    grid-row: 2 / 4;
}

@media (min-width: 880px) {
    .main-container {
        /* top to bottom: top-bar main-content(3 cols together) bottom-bar */
        grid-template-rows: minmax(70px, 80px) 1fr minmax(120px, 200px);
        /* left to right: left-bar main-content right-bar */
        grid-template-columns: minmax(80px, 120px) auto minmax(260px, 160px);
    }
}

/* Geocoding CSS integration*/

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #drop_zone {
    /* border: 5px solid black; */
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #drop_zone.dragover {
    border: 5px solid black;
    width: 200px;
    height: 200px;
    background-color: blue;
  }

  .right_sidebar {
    width:100%;
    display: flex;
    flex-direction: column;
  }

  .input_bar{
    width:100%;
    flex-direction: row;
    display: flex;
    flex-basis: fit-content;
    justify-content: flex-end;
  }

  .input_box{
    width:100%;
    flex-basis: auto;
  }

  .remove_button {
    color: red;
    flex-basis: fit-content;
  }
  
  #upload_label {
    background-color: rgb(0,125,255);
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }

 